@import "../vendor/bootstrap/scss/functions";

$veronica: #a020f0ff;
$ghost-white: #f7f7ffff;
$umber: #554640ff;
$celestial-blue: #279af1ff;
$night: #131112ff;


//Variables globales
$primary: $veronica;
$secondary: $celestial-blue;


html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: $ghost-white;
  color: $umber;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Enlaces y botones
a {
  color: $celestial-blue;
  text-decoration: none;
  
  &:hover {
    color: darken($celestial-blue, 10%);
  }
}

button {
  background-color: $primary;
  color: $ghost-white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  
  &:hover {
    background-color: darken($primary, 5%);
  }
  
  &:active {
    background-color: darken($primary, 10%);
  }
}



//Navbar
.navbar-brand {
  background-image: linear-gradient(
    to right, 
    #FF0000,
    #FF8E00,
    #FFEE00,
    #008E00,
    #00C0C0,
    #400098,
    #8E008E
  );
  background-size: 200% auto;
  animation: shine 10s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}



// Navbar
.custom-navbar {
  background-color: $primary; 

  }

  .navbar-nav .nav-link {
    color: $ghost-white;
    font-weight: 500;
    font-size: 1rem;

    &:hover {
      color: $celestial-blue;
    }

    &:active {
      color: darken($celestial-blue, 10%);
    }
  }

  .navbar-toggler {
    border-color: $ghost-white;
  }

  .navbar-collapse {
    background-color: $primary;
  }
  
  .navbar-toggler-icon {
    background-color: $ghost-white;
  }

  .navbar-collapse.show {
    background-color: $primary;
  }

  .nav-item button {
    color: $ghost-white;
    background-color: transparent;
    border: none;

    &:hover {
      color: $celestial-blue;
    }
  }
  
  .nav-item.active .nav-link {
    color: $celestial-blue;
  }



@keyframes shine {
  to {
    background-position: 200% center;
  }
}
.navbar .nav-link.text-light:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}

.navbar .nav-link.text-dark:hover {
  color: rgba(0, 191, 255, 0.75) !important;
}

.menu-toggle span.bg-light {
  background-color: #fff !important;
}

.menu-toggle span.bg-dark {
  background-color: #343a40 !important;
}



//footer

.footer {
  margin-top: auto;
  width: 100%;
  padding: 1rem 0;
}
.footer a:hover{
  color: $veronica !important;
}



@import "../vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/scss/variables-dark";
@import "../vendor/bootstrap/scss/maps";
@import "../vendor/bootstrap/scss/mixins";
@import "../vendor/bootstrap/scss/utilities";
@import "../vendor/bootstrap/scss/root";
@import "../vendor/bootstrap/scss/reboot";
@import "../vendor/bootstrap/scss/type";
@import "../vendor/bootstrap/scss/bootstrap";



