html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.footer {
  width: 100%;
  padding: 1rem 0;
}

.selector {

  min-width: "80px";
    position: "sticky";
    top: "80px";
    height: "fit-content";
    max-height: "calc(100vh - 100px)";
    overflow-y: "auto";
    padding-right: "0.5rem";

}